<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="Contact">
	<insert id="insert" parameterType="contact">
		INSERT INTO contact(cNo,cName,cPhone,cAddress,cEmail,cNote)
		VALUES(#{cNo},#{cName},#{cPhone},#{cAddress},#{cEmail},#{cNote})
	</insert>
	<select id="findByNo" parameterType="int" resultType="contact">
		SELECT * FROM contact
		WHERE cNo=#{cNo}
	</select>
	<select id="findAll" parameterType="contact" resultType="contact">
		SELECT * FROM contact
	</select>
	<update id="update" parameterType="contact">
		UPDATE contact SET cName=#{cName},cPhone=#{cPhone},
		cAddress=#{cAddress},cEmail=#{cEmail},cNote=#{cNote}
		WHERE cNo=#{cNo}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM contact
		where cNo=#{cNo} 
	</delete>
</mapper>