<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="Board">
	<insert id="insert" parameterType="board">
		INSERT INTO board_table(boardWriter,boardPass,boardTitle,boardContents)
		VALUES(#{boardWriter},#{boardPass},#{boardTitle},#{boardContents})
	</insert>
	<select id="findAll" resultType="board">
		SELECT * FROM board_table
	</select>
	<select id="findByNo" parameterType="Long" resultType="board">
		SELECT * FROM board_table
		WHERE boardNo=#{boardNo}
	</select>
	<update id="updateHits" parameterType="Long">
		UPDATE board_table SET boardHits=boardHits+1
		WHERE boardNo=#{boardNo}
	</update>
	<delete id="delete" parameterType="long">
		DELETE FROM board_table
		WHERE boardNo=#{boardNo}
	</delete>
	<update id="update" parameterType="board">
		UPDATE board_table SET boardTitle=#{boardTitle},boardContents=#{boardContents}
		WHERE boardNO=#{boardNo}
	</update>
	<select id="boardCount" resultType="int">
		SELECT count(*) FROM board_table
	</select>
</mapper>